/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(37, 157, 255),rgb(48, 255, 48));
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 114, 207);
}

#main{
  overflow-x: hidden
}

@import '../modules/scrollthumb';
@import '../modules/nav';
@import '../modules/herosection'