/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4087DD, #F6BA19);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ff6a00, #ee0979);
}

body {
  background: white;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.nav-container {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.555);
}

.links ul {
  display: flex;
  gap: 2rem;
}
.links ul a {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: all 300ms ease-in;
}
.links li:hover > a {
  scale: 1.2;
  font-weight: bolder;
}
.links .megamenu {
  background: linear-gradient(to left, #131E34, #013352, #121F36);
  transition: all 600ms ease-in-out;
  top: 12vh;
  letter-spacing: 1px;
}
.links li:hover > .megamenu {
  height: 50vh;
}

.logo {
  width: 18%;
}

.megalinks:hover {
  scale: 1.05;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
}

.slidedown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #0F172A;
  animation: slidedown 0.4s forwards;
}

@keyframes slidedown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
.title {
  width: 60%;
  margin-top: 10rem;
  font-weight: 900;
}
.title span {
  background: linear-gradient(to right, #FABB16, #3D86E0);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 900;
}

.subtitle {
  width: 65%;
  margin-top: 3rem;
}

.talk-btn a {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.talk-btn a .dot {
  color: rgba(255, 255, 255, 0.521);
}
.talk-btn a:hover .dot {
  color: #00ACED;
  scale: 1.5;
}
.talk-btn a:hover h1 {
  color: white;
}
.talk-btn a h1 {
  color: transparent;
  transition: all 300ms ease-in-out;
  font-weight: 500;
  -webkit-text-stroke: 1px #fff;
}
.talk-btn a::after {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  top: 50%;
  z-index: -1;
  mix-blend-mode: difference;
  transform: translateY(-50%);
  border: 2px solid #00ACED;
  right: -5%;
  animation-name: circle;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes circle {
  0% {
    outline: 0px solid rgba(237, 0, 0, 0);
  }
  100% {
    outline: 10px solid rgba(0, 174, 237, 0.1764705882);
  }
}
.grid-container .main-grid {
  background-color: rgba(255, 255, 255, 0.096);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.grid-container .main-grid div {
  border-style: dashed;
}

.num {
  font-size: 6rem;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: all 300ms ease-in-out;
}

.numBanner-title {
  transition: all 300ms ease-in-out;
  color: rgb(160, 160, 160);
  font-weight: 500;
}

.banner-box {
  transition: all 300ms ease-in-out;
}
.banner-box:hover .num {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  color: #DD4242;
}
.banner-box:hover .numBanner-title {
  color: white;
}

.right-inner {
  box-shadow: 5px 10px 30px rgba(10, 0, 48, 0.363);
}

.main-sidebar-container {
  background-image: linear-gradient(43deg, rgba(65, 89, 208, 0.3098039216) 0%, rgba(255, 161, 249, 0.1098039216) 46%, rgba(255, 205, 112, 0.6784313725) 100%);
}

.sidebarbox {
  box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.329);
  background-image: linear-gradient(to left, #EFEFEF, #D7DCDB);
}

.repeat-signal {
  transition: all 300ms ease-in-out;
  border: 2px solid #04141F;
  animation-name: signal;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes signal {
  0% {
    outline: 0px solid #04141F;
  }
  100% {
    outline: 20px solid rgba(4, 20, 31, 0);
  }
}
@keyframes signalColor {
  0% {
    outline: 0px solid #ffffff;
  }
  100% {
    outline: 20px solid rgba(255, 255, 255, 0);
  }
}
.btn-content {
  transition: all 300ms ease-in-out;
}

.common-btn-container {
  transition: all 300ms ease-in-out;
}
.common-btn-container:hover {
  background: #04141F;
}
.common-btn-container:hover .btn-content {
  color: white;
}
.common-btn-container:hover .repeat-signal {
  border-color: white;
  animation-name: signalColor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.first-section-grid {
  grid-template-rows: 58% 45%;
}

.first-section-box {
  background: rgba(112, 128, 144, 0.185);
  border-radius: 1.5rem;
  scale: 1;
  border: 1px solid rgb(180, 180, 180);
}

.related-services li {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  color: #b0b8c7;
  margin-block: 5px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}
.related-services li:hover {
  transform: translateX(10%);
  color: #9DE7EF;
}

.skills h1 {
  background: linear-gradient(to right, #40B2DC, #A7D756);
  color: transparent;
  font-weight: bolder;
  -webkit-background-clip: text;
          background-clip: text;
}

.repeat-signal-1 {
  transition: all 300ms ease-in-out;
  border: 2px solid #04141F;
  animation-name: signal;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes signal {
  0% {
    outline: 0px solid #04141F;
  }
  100% {
    outline: 20px solid rgba(4, 20, 31, 0);
  }
}
@keyframes signalColor {
  0% {
    outline: 0px solid #ffffff;
  }
  100% {
    outline: 20px solid rgba(255, 255, 255, 0);
  }
}
.btn-content-1 {
  transition: all 300ms ease-in-out;
}

.common-btn-container-1 {
  background: linear-gradient(to right, #40B2DC, #A7D756);
  transition: all 300ms ease-in-out;
}
.common-btn-container-1:hover {
  background: #000102;
}
.common-btn-container-1:hover .btn-content-1 {
  color: white;
}
.common-btn-container-1:hover .repeat-signal-1 {
  border-color: white;
  animation-name: signalColor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.second-section {
  scale: 1;
}

.gradient-card {
  background: linear-gradient(to letf, black, indigo);
  color: white;
}/*# sourceMappingURL=layout.css.map */