/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4087DD,#F6BA19);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#0073ff,#ffbb00);
}

#main{
  overflow-x: hidden
}

@import '../modules/scrollthumb';
@import '../modules/nav';
@import '../modules/herosection';
@import '../modules/numBanner'